.container
{
    margin-top: 15%;
    padding-left: 10rem;
}
.heading
{
    font-family: var(--headFont);
    color: var(--primary);
    font-size: 3rem;
}
.para
{
    font-weight: 300;
    font-family: var(--bodyFont2);
    width: 75%;
    font-size: 1.25rem;
    margin-top: 1%;
    margin-left: 10%;
}
@media (max-width:992px) {
    .container
    {
      padding-left: 0;
      text-align: center;
      margin: auto;
      margin-top: 15%;
    }
    .header h1
    {
      font-size: 3rem;
    }
    .header h2
    {
      font-size: 1.5rem;
    }
    .header p
    {
      margin: auto;
      width: 75%;
      font-size: 1.25rem;
    }
    .header a
    {
      margin: auto;
      margin-top: 5%;
    }
  
  }