.container {
  margin-top: 10%;
  margin-bottom: 10%;
  padding-left: 10rem;
}
.heading {
  font-family: var(--headFont);
  color: var(--primary);
  font-size: 3rem;
}
.jobs {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  margin-left: 10%;
}
.jobContainer {
    margin: 2%;
  display: flex;
  
}
.logo {
  position: relative;
  height: 5rem;
  width: 5rem;
}
.logo img
{
    border-radius: 50%;
}
.text
{
    font-family: var(--bodyFont2);
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}
.jobTitle
{
    font-family: var(--bodyFont2);
    font-weight: 400;
    color: var(--secondary);
    font-size: 1rem;
}
.jobBody
{
    font-weight: 300;
}
.jobBody h3
{
    margin: 1%;
    width: 100%;
}
.jobBody p
{
    margin: 1%;
    width: 100%;
}
@media (max-width:992px) {
  .container
  {
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .heading
  {
    text-align: center;
  }
  .jobs
  {
    margin-left: 20%;
    width: 100%;
  }
  .logo
  {
    width: 4rem;
    height: 4rem;
  }
}
@media (max-width:600px) {
  .jobs
  {
    margin-left: 15%;
  }
}
@media (max-width:540px) {
  .jobs
  {
    margin-left: 10%;
    padding: 0;
  }
}
@media (max-width:440px) {

  .jobs
  {
    margin-left: 2%;
    padding: 0;
  }
  .jobTitle
  {
    font-size: 0.75rem;
  }

  .jobBody h3
  {
    font-size: 0.7rem;
  }
  .jobBody p
  {
    font-size: 0.6rem;
  }
}